.about__container {
    display: grid;
    grid-template-columns: 35% 70%;
    gap: 8%;
}

.about__portrait img {
    height: fit-content;
    max-height: 40rem;
    border: 1rem solid var(--color-white);
    transition: var(--transition);
}

.about__portrait:hover img {
    border-width: 0;
}

.about__right {
    transform: translateY(-100px);
}

.about__right .btn {
    margin-top: 1.5rem;
}

/* MEDIA QUERIES (tables) */
@media screen and (max-width: 1024px) {
    .about__left {
        display: none;
    }

    .about__container {
        grid-template-columns: 1fr;
    }

    .about__right {
        align-items: center;
    }

    .about__right .btn {
        margin: auto;
    }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__right .btn {
        margin-top: 1rem;
    }
}